<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCl21aFMHbwIX1FkFxT9kykM5O-KNchdGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>756990459989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joshuamike.BallCards</string>
	<key>PROJECT_ID</key>
	<string>ballcards-42d6c</string>
	<key>STORAGE_BUCKET</key>
	<string>ballcards-42d6c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756990459989:ios:6d8c0fe0894fb1d8a214dc</string>
</dict>
</plist>